
@{
    ViewBag.Title = "寄Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>寄Email</h2>

<form method="post">
    <input type="text" name="email" />
    <input type="submit" value="send" />
</form>