@model MVCTest.Models.Records
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Carousel.css" />

<h2>輪播圖事件</h2>
<div>@Model.location.Length</div>

<button class="btn"><</button>
<button class="btn">></button>

<ul class="ul">
	@for( int i = 0; i < 5; i++ ) {
		<li class="li">
			<h3>@Model.location[i].locationName</h3>
			<p>@Model.location[i].weatherElement[0].time[0].parameter.parameterName</p>
		</li>
	}
</ul>


@*@section scripts{
	@Scripts.Render("~/Scripts/MyScript/Carousel.js")
}*@

<script src="~/Scripts/MyScript/Carousel.js"></script>