
@{
	ViewBag.Title = "QRCode套件";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QRCode套件</h2>

<img src="@Url.Action("CreateQRCode")" />
<img src="data:image/jpg;base64,@ViewBag.img" />

<p>@Html.Action("aa")</p>